html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textPadding {
    padding-bottom: 10px;
}
h3 {
    font-family: sans-serif;
}

/* Shared styles for positioned elements */
/*.centerContent dl,
.centerContent .col-md-3,*/
.table-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 900px;
}

/* Additional styles for specific elements */
.form-control {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

/* Optional: Adjust the z-index for images */
img {
    z-index: 0;
}

/* Optional: Add margin to navigation */
.navMargin {
    margin-left: 16%;
}

.textFormat {
    text-align: end;
    padding-bottom: 0.5rem;
}

.row > * {
    padding: 0.2rem;
    margin: 0;
}

.uppercase-label {
    text-transform: uppercase;
}

.img-logo {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.navbar-nav a,
#exclude-transition,
#logout-button {
    transition: transform 0.3s ease-in-out;
    font-weight: normal; /* Default font-weight */
    border-bottom: 1px solid transparent; /* Set a transparent border by default */
}

.navbar-nav a:hover,
#logout-button:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
    font-weight: bold;
    border-bottom: 1px solid black; /* Set the border color on hover */
}

.navbar-color {
    background: #0F0F0F;
}

.navbar {
    padding: 0;
}

a {
    color: #005B41;
    text-decoration: none;
    border-bottom: 1px solid transparent; /* Set a transparent border by default */
    transition: transform 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

a:hover {
    border-bottom-color: black; /* Set the border color on hover */
    color: black;
}

.btn-color {
    background: #5C8374;
    color: white;
}

.btn-padding {
    margin-top: 0.3rem;
}
/* Set the default text color for links */
.navbar-nav .text-white {
    color: white !important; /* Use !important to ensure the style takes precedence */
    transition: color 0.3s ease-in-out; /* Add a smooth transition for the color change */
}

/* Change the text color when hovering over links */
.navbar-nav .text-white:hover {
    color: rgba(92, 131, 116, 0.8) !important; /* Set your desired hover color */
}

.text-user {
    padding-top: 0.55rem;
    color: #9EC8B9 !important;
}
.text-user:hover {
    border-bottom: 1px solid black!important;
}

#text-greeting {
    color: whitesmoke;
}

a#email.nav-link.active,
a#change-password.nav-link.active,
a#two-factor.nav-link.active,
a#personal-data.nav-link.active,
a#profile.nav-link.active,
button#change-email-button,
a#enable-authenticator{
    background: #5C8374;
    color: white;
    width: fit-content;
}

button#change-email-button:hover, 
a#enable-authenticator:hover {
    color: black;
}

#email,
#profile,
#change-password,
#external-login,
#two-factor,
#personal-data {
    color: #005B41;
}

#email:hover,
#profile:hover,
#change-password:hover,
#external-login:hover,
#two-factor:hover,
#personal-data:hover {
    color: black !important;
    border-bottom: 1px solid black;
    width: fit-content;
}
button.w-100.btn.btn-lg.btn-primary {
    background: #5C8374;
    color: white;
}
form#download-data button {
    background: #5C8374;
    color: white;
}
form#download-data button:hover {
    color: black;
}
div.col-md-9 {
    padding-left: 5rem;
}
div.col-md-9 h3 {
    text-transform: uppercase;
}