html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textPadding {
    padding-bottom: 10px;
}

/* Shared styles for positioned elements */
/*.centerContent dl,
.centerContent .col-md-3,*/
.table-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 900px;
}

/* Additional styles for specific elements */
.form-control {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

/* Optional: Adjust the z-index for images */
img {
    z-index: 0;
}

/* Optional: Add margin to navigation */
.navMargin {
    margin-left: 16%;
}

.textFormat {
    text-align: end;
    padding-bottom: 0.5rem;
}

.row > * {
    padding: 0.2rem;
    margin: 0;
}

.uppercase-label {
    text-transform: uppercase;
}

.img-logo {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.navbar-nav a, #exclude-transition {
    transition: transform 0.3s ease-in-out;
    font-weight: normal; /* Default font-weight */
    border-bottom: 1px solid transparent; /* Set a transparent border by default */
}

.navbar-nav a:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
    border-top: 1px black;
    font-weight: bold;
    border-bottom: 1px solid black; /* Set the border color on hover */
}
#exclude-transition {
    transform: scale(1);
}
.navbar-color {
    background: #0F0F0F;
}

.navbar {
    padding: 0;
}
.nav-link {
    color: white;
}
a {
    color: #005B41;
    text-decoration: none;
}
.btn-color {
    background: #005B41;
    color: white;
}