@using GymClass.Core.Entities
@using GymClass.Core.Services
@model IEnumerable<GymClass>
@inject IBookingService BookingService;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager


<div class="center-content position-relative">

    <div>
        @if (User.IsInRole("Admin") && ViewData["Title"]?.ToString() == "OVERVIEW CLASSES")
        {
            <p>
                <a asp-action="Create" class="btn btn-color">Create New Class</a>
            </p>
        }
        <partial name ="_IndexPartial"/>
    </div>
</div>

