@using GymClass.BusinessLogic.Entities
@using GymClass.BusinessLogic.Services
@model IEnumerable<GymClass>
@inject IBookingService BookingService;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject IMessageToUserService MessageToUser;

@{
    ViewData["Title"] = "Index";
}

<div class="center-content position-relative">

    <div>
        @if (User.IsInRole("Admin") && @MessageToUser.ShowMessage() == "Overview Classes")
        {
            <p>
                <a asp-action="Create" class="btn btn-color">Create New Class</a>
            </p>
        }
        <partial name ="_IndexPartial"/>
    </div>
</div>

