@model System.Collections.Generic.IList<GymClass>
@using GymClass.BusinessLogic.Services
@using GymClass.BusinessLogic.Entities
@inject IBookingService BookingService;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "MY BOOKING HISTORY";
}

<div class="center-content position-relative">

    <div>
        <partial name ="_IndexPartial"/>
    </div>
</div>
