@using Microsoft.AspNetCore.Identity
@using GymClass.BusinessLogic.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="exclude-transition" class="nav-link text-user" id="user-transition" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <span id="text-greeting">Hello</span>
            @foreach (var claim in User.Claims)
            {
                if (claim.Type != "FullName")
                {
                    continue;
                }
                <span> @claim.Value</span><br />
            }
        </a>
    </li>

    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "GymClasses", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
